/* ========================================================== */
/* COMMON */
/* ========================================================== */

:root {
  --color-dark-blue: #224665;
  --color-settle-blue: rgba(203, 219, 239, 0.7);
  --color-transparent-blue: rgba(203, 219, 239, 0.5);
  --color-white: #ffffff;
  --color-light-white: #fefefe;
  --color-gray: rgba(124, 124, 124, 0.7);
  --color-settle-gray: #f1f1f1;
  --color-light-gray: #c0c0c0;
  --color-black: rgba(0, 0, 0, 0.8);
  --color-transparent-black: rgba(0, 0, 0, 0.55);
}

body {
  font-family: "Raleway";
  background-image: url(../assets/jpg/hero.jpg);
  background-size: cover;
  background-attachment: fixed;
}

button {
  font-family: "Raleway";
  border: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-transparent-black);
  z-index: 0;
}

.main {
  position: relative;
  z-index: 1;
}

/* ========================================================== */
/* SECTION SEARCH */
/* ========================================================== */

.search {
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 0;
}

.search__title {
  font-size: 64px;
  font-weight: 500;
  color: white;
  margin-bottom: 48px;
}

.search__form {
  display: flex;
  min-width: 600px;
  width: 60%;
}

.search__form-select {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 24px;
  padding: 25px 32px;
  border: none;
  border-right: 1px solid var(--color-dark-blue);
  border-radius: 20px 0px 0px 20px;
  color: var(--color-white);
  background-color: var(--color-settle-blue);
  backdrop-filter: blur(3px);
}

.search__form-input {
  width: 100%;
  font-family: "Raleway";
  font-weight: 300;
  font-size: 24px;
  padding: 25px 32px;
  border: none;
  color: var(--color-white);
  background-color: var(--color-settle-blue);
  backdrop-filter: blur(3px);
}

.search__form-input::placeholder {
  color: var(--color-white);
}

.search__form-btn {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  border-radius: 0px 20px 20px 0px;
  padding: 25px 57px;
  color: var(--color-white);
  background-color: var(--color-dark-blue);
}

/* ========================================================== */
/* SECTION RESULT */
/* ========================================================== */

.users {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.users__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 80%;
  position: relative;
  z-index: 10;
}

.users__card {
  border: 1px solid var(--color-transparent-blue);
  box-shadow: 0px 0px 4px 4px var(--color-transparent-blue);
  backdrop-filter: blur(12px);
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  width: 250px;
}

.users__card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-transparent-black);
}

.users__card-content::after {
  content: "";
  width: 448px;
  height: 448px;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(50%);
  background: rgba(203, 219, 239, 0.5);
  box-shadow: 0px 0px 50px 45px rgba(203, 219, 239, 0.5);
  filter: blur(6px);
}

.users__card-img-wrapper {
  margin: 30px 85px 30px 85px;
  position: relative;
  z-index: 3;
}

.users__card-img-wrapper::after {
  display: block;
  content: "";
  height: 156px;
  width: 156px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(129, 129, 129, 0) 0%,
    rgba(158, 158, 158, 0.62) 100%
  );
  filter: blur(4px);
  z-index: -1;
  position: absolute;
  top: 0;
  transform: translate(-8px, -8px);
}

.users__card-img {
  position: relative;
  z-index: 4;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.users__card-name {
  font-size: 36px;
  font-weight: 300;
  color: var(--color-light-white);
  margin-bottom: 30px;
}

.users__card-title {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-light-gray);
}

.users__card-value {
  font-weight: 700;
  color: var(--color-light-white);
}

.users__card-btn {
  margin: 20px 0 30px 0;
  background-color: var(--color-gray);
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  color: var(--color-light-gray);
  text-transform: uppercase;
  padding: 17px 65px;
}

.users__navigation {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.users__navigation-btn {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: var(--color-black);
  box-shadow: 0px 0px 4px 4px rgba(203, 219, 239, 0.25),
    inset 0px 0px 7px 4px #595959;
  backdrop-filter: blur(2px);
  /* position: absolute; */
}

/* .users__navigation-prev {
  left: 1%;
}

.users__navigation-next {
  right: 1%;
} */

.users__navigation-icon {
  width: 22px;
  height: 22px;
}
